Repository gneitzke/UnifiOptimizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile-check, validate-mesh-protection, check-no-mock-data

.pre-commit-config.yaml:

# Pre-commit hooks for UniFi Optimizer
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        args: ['--line-length=100']

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=127', '--ignore=E203,W503']
        additional_dependencies: [flake8-docstrings]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-ll', '-i']
        files: ^(?!tests/).*\.py$

  - repo: local
    hooks:
      - id: compile-check
        name: Python Syntax Check
        entry: python -m py_compile
        language: system
        files: \.py$
        pass_filenames: true
        
      - id: validate-mesh-protection
        name: Check Mesh RSSI Protection
        entry: bash -c 'grep -q "Skip.*mesh.*min.*rssi\|EXCLUDED.*mesh" core/advanced_analyzer.py || (echo "❌ Mesh protection missing!" && exit 1)'
        language: system
        pass_filenames: false
        files: core/advanced_analyzer\.py$
        
      - id: check-no-mock-data
        name: Verify No Mock Data
        entry: bash -c '! grep -q "Demo AP Uplink\|demo.*uplink" core/switch_analyzer.py || (echo "❌ Mock data found!" && exit 1)'
        language: system
        pass_filenames: false
        files: core/switch_analyzer\.py$

remove noisy readmes
  .github/CI_CD_DOCUMENTATION.md
  .github/CI_IMPLEMENTATION_SUMMARY.md
  .github/DEPLOYMENT_CHECKLIST.md
Due: none

Clean up selection logic
  .github/check_ci_status.py
  .github/workflows/ci.yml
  .github/workflows/extended-tests.yml
  .github/workflows/mlc_config.json
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  core/change_applier.py
  core/html_report_generator.py
  core/optimize_network.py
  core/switch_analyzer.py
Due: compile-check, check-no-mock-data

Fix flow
  .github/workflows/extended-tests.yml
Due: none

misc ci fixes
  .github/workflows/ci.yml
  .github/workflows/extended-tests.yml
  .github/workflows/pr-validation.yml
Due: none

Fix CI issues by adding PYTHONPATH to the environment in all relevant workflows.
  .github/workflows/ci.yml
  .github/workflows/extended-tests.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  core/change_applier.py
  core/html_report_generator.py
  core/optimize_network.py
  core/switch_analyzer.py
Due: compile-check, check-no-mock-data

CI updates
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

More CI fixes
  .github/workflows/ci.yml
Due: none

Make sure hourly tracking works
  core/html_report_generator.py
  core/switch_analyzer.py
  test_hourly_tracking.py
Due: compile-check, check-no-mock-data

Fix style
  test_hourly_tracking.py
Due: compile-check

Swap logic for dropped packets
  core/switch_analyzer.py
Due: compile-check, check-no-mock-data

Layout updates
  core/html_report_generator.py
  core/switch_analyzer.py
Due: compile-check, check-no-mock-data

More focus on ap fairness
  core/html_report_generator.py
  core/switch_analyzer.py
Due: compile-check, check-no-mock-data

Update mesh logic and 6g routing
  core/advanced_analyzer.py
  core/html_report_generator.py
  core/optimize_network.py
Due: compile-check, validate-mesh-protection

Phase 1: Fix 10 critical bugs, simplify CLI, add config system
  README.md
  api/cloudkey_gen2_client.py
  core/advanced_analyzer.py
  core/change_applier.py
  core/html_report_generator.py
  core/network_analyzer.py
  core/optimize_network.py
  data/config.yaml
  optimizer.py
  regenerate_report.py
  requirements.txt
  tests/test_bug_fixes.py
  utils/config.py
  utils/network_helpers.py
Due: compile-check, validate-mesh-protection

Phase 2: Rewrite health scoring, fix RF accuracy, add client findings
  README.md
  core/advanced_analyzer.py
  core/client_health.py
  core/network_analyzer.py
  core/network_health_analyzer.py
  core/optimize_network.py
  tests/test_health_scoring.py
Due: compile-check, validate-mesh-protection

Fix B13 in html_report_generator: remove 'ax' from 6GHz detection
  core/html_report_generator.py
Due: compile-check

Fix CLI: infer subcommand when omitted
  analysis_cache_20260214_234900.json
  optimizer.py
Due: compile-check

Gitignore analysis cache files
  .gitignore
  analysis_cache_20260214_234900.json
Due: none

Compact report: collapsible sections, Chart.js overview graphs
  core/html_report_generator.py
Due: compile-check

Fix broadcast storm false positives, signal chart, add event timeline
  core/html_report_generator.py
  core/network_analyzer.py
  core/network_health_analyzer.py
  tests/test_health_scoring.py
Due: compile-check
