Repository gneitzke/UnifiOptimizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: compile-check, validate-mesh-protection, check-no-mock-data

compile-check:
  name: Python Syntax Check
  entry: python -m py_compile
  language: system
  pass_filenames: true

validate-mesh-protection:
  name: Check Mesh RSSI Protection
  entry: bash -c 'grep -q "Skip.*mesh.*min.*rssi\|EXCLUDED.*mesh" core/advanced_analyzer.py || (echo "❌ Mesh protection missing!" && exit 1)'
  language: system
  pass_filenames: false

check-no-mock-data:
  name: Verify No Mock Data
  entry: bash -c '! grep -q "Demo AP Uplink\|demo.*uplink" core/switch_analyzer.py || (echo "❌ Mock data found!" && exit 1)'
  language: system
  pass_filenames: false

Fix 7 bugs found in deep code audit
  api/cloudkey_gen2_client.py
  core/advanced_analyzer.py
  core/client_health.py
  core/network_analyzer.py
  core/report_v2.py
Due: compile-check, validate-mesh-protection

Add device health table and channel utilization to report
  core/report_v2.py
Due: compile-check

Add WiFi satisfaction data, fix empty disconnect timeline, enrich client journeys
  core/network_analyzer.py
  core/report_v2.py
  tests/test_health_scoring.py
Due: compile-check

Add per-client session history — full connection log with real disconnect/roam data
  core/network_analyzer.py
  core/report_v2.py
Due: compile-check

v3.13.0: Session-based AP restart detection (Pass 5)
  Go.sh
  core/network_analyzer.py
Due: compile-check

v3.14.0: Fix restart detection accuracy
  core/network_analyzer.py
  core/network_health_analyzer.py
Due: compile-check

v3.14.1: Fix 4 bugs found in deep audit
  core/network_analyzer.py
  core/network_health_analyzer.py
  core/optimize_network.py
Due: compile-check

Add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Consolidate RSSI normalization to use existing fix_rssi() helper
  core/client_health.py
  core/html_report_generator.py
  core/network_analyzer.py
  core/network_health_analyzer.py
  core/optimize_network.py
Due: compile-check

Remove v1 HTML report generator (~7,700 lines of dead code)
  .github/workflows/ci.yml
  .github/workflows/extended-tests.yml
  CLAUDE.md
  README.md
  core/html_report_generator.py
  core/html_report_generator_share.py
  test_advanced_features.py
  tests/test_html_6ghz_display.py
Due: compile-check

chore: apply Black/isort formatting across core modules
  core/advanced_analyzer.py
  core/diagnose_clients.py
  core/report_v2.py
  core/switch_analyzer.py
  optimizer.py
  regenerate_report.py
  utils/network_helpers.py
Due: compile-check, validate-mesh-protection, check-no-mock-data

chore: fix .gitignore and CLAUDE.md accuracy
  .gitignore
  CLAUDE.md
Due: none

fix: resolve all E226 and F401 flake8 warnings
  core/advanced_analyzer.py
  core/report_v2.py
  core/switch_analyzer.py
Due: compile-check, validate-mesh-protection, check-no-mock-data

docs: add switch_analyzer.py to CLAUDE.md module table
  CLAUDE.md
Due: none

docs: fix two stale references in README
  README.md
Due: none

feat: add quick actions bar, impact badges, and client insights to report
  core/report_v2.py
Due: compile-check

docs: update README reports section and add WHATS_NEW.md
  README.md
  WHATS_NEW.md
Due: none

docs: add documentation update rule to CLAUDE.md
  CLAUDE.md
Due: none

feat: add data quality banner and DFS radar exposure card to report
  README.md
  WHATS_NEW.md
  core/report_v2.py
Due: compile-check

feat: add semantic versioning at v0.9.0
  CLAUDE.md
  WHATS_NEW.md
  core/report_v2.py
  optimizer.py
  pyproject.toml
  version.py
Due: compile-check

docs: add feature branch git workflow to CLAUDE.md
  CLAUDE.md
Due: none

fix: add reason field fallback in recommendation message handler
  core/report_v2.py
Due: compile-check

docs: update WHATS_NEW with recommendation format fix
  WHATS_NEW.md
Due: none

feat: add AI network advisor with pluggable backends (v0.10.0)
  README.md
  WHATS_NEW.md
  core/ai_advisor.py
  core/optimize_network.py
  core/report_v2.py
  data/config.yaml
  optimizer.py
  pyproject.toml
  requirements.txt
  tests/test_ai_advisor.py
  utils/config.py
  version.py
Due: compile-check

feat: add historical trend analysis & anomaly detection engine (v0.11.0)
  README.md
  WHATS_NEW.md
  core/network_analyzer.py
  core/optimize_network.py
  core/report_v2.py
  core/trend_analyzer.py
  core/trend_report.py
  data/config.yaml
  pyproject.toml
  tests/test_trend_analyzer.py
  utils/config.py
  version.py
Due: compile-check

fix: move trend summary card to after recommendations, before tabs
  core/report_v2.py
Due: compile-check

Fix 18 bugs found via ensemble multi-model deep inspection
  api/cloudkey_jwt_helper.py
  core/advanced_analyzer.py
  core/change_applier.py
  core/client_health.py
  core/network_analyzer.py
  server/routers/analysis.py
  server/routers/auth.py
  server/routers/repair.py
  server/services/change_tracker.py
  server/services/session_manager.py
  tests/__init__.py
  tests/cloudkey/__init__.py
  tests/core/__init__.py
  tests/test_health_scoring.py
  tests/utils/__init__.py
  utils/config.py
Due: compile-check, validate-mesh-protection

Update README with web dashboard, deployment, testing sections; add Dockerfile
  .gitignore
  Dockerfile
  README.md
  data/config.yaml
Due: none

Fix JWT validation, auth race conditions, and add 44 Playwright e2e tests
  server/models/schemas.py
  server/services/discovery.py
  server/services/session_manager.py
  start.sh
  web/.gitignore
  web/e2e/app.spec.ts
  web/e2e/auth.setup.ts
  web/e2e/login.spec.ts
  web/package-lock.json
  web/package.json
  web/playwright.config.ts
  web/src/App.tsx
  web/src/components/auth/LoginPage.tsx
  web/src/components/layout/AppShell.tsx
  web/src/components/repair/RepairPage.tsx
  web/src/services/api.ts
  web/src/stores/authStore.ts
  web/src/types/api.ts
  web/vite.config.ts
Due: compile-check

Remove CI workflow files to allow push without workflow scope
  .github/workflows/ci.yml
  .github/workflows/extended-tests.yml
  .github/workflows/mlc_config.json
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  compile-check: any of: \.py$
  validate-mesh-protection: any of: core/advanced_analyzer\.py$
  check-no-mock-data: any of: core/switch_analyzer\.py$
